# package directories
node_modules/
.cache/

# Serverless directories
.serverless/
.build/
.webpack/
.dynamodb/

# NYC
.nyc_output/

# DEvelopment environment variables
.env
ormconfig.env


# MAC
**/.DS_Store