# package directories
node_modules/
.cache/

# Serverless directories
.serverless/
.build/
.webpack/
.dynamodb/

# NYC
.nyc_output/

# Development environment variables
ormconfig.env

# Environment Variables
env.yml

# MAC
**/.DS_Store

